.Tasks {
  background-color: #ffffff52;
  width: 20rem;
  height: 35rem;
  position: fixed;
  border-radius: 30px;
  padding: 2rem;
  box-sizing: border-box;
  top: 2rem;
  left: -18rem;
  transition: 0.2s;
}

.Tasks::before {
  content: "";
  position: fixed;
  display: block;
  width: 17rem;
  height: 40rem;
  top: 0;
  left: 0;
  z-index: -1;
}

.Tasks:hover {
  left: -2rem;
  background-color: #ffffffaf;
  transition: 0.5s;
}
/* Tasks content */

.tasksTitle {
  font-size: 1.5rem;
}

.tasksContent {
  height: 90%;
}

.tasksInput {
  display: flex;
  justify-content: space-around;
  padding-left: 2rem;
}

.input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  max-width: 60%;
}

.input:focus {
}

/* List */

.listContainer {
  margin: 2rem;
  height: 80%;
  font-size: 1.2rem;
  overflow: auto;
}

.listItem {
  display: flex;
  margin-bottom: 1rem;
  border-right: 1px solid #0000006d;
}

.listItem:hover {
  color: #595959;
  cursor: pointer;
}

.list {
  list-style-type: decimal;
}

.listItemNumber {
  font-weight: 700;
  width: 20%;
}

/* scrollabar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* control */

.control {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* elements */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
}

.button:hover {
  cursor: pointer;
  color: #848484;
  border: 2px solid #848484;
}

.disabled {
  color: #848484;
  border: 1px solid #848484;
  pointer-events: none;
}
