/* buttons area */

.button {
  font-size: 1.3rem;
  padding: 15px 25px;
  border-radius: 15px;
  color: #212121;
  background: #e8e8e8;
  font-weight: 1000;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.button:hover {
  color: #e8e8e8;
  cursor: pointer;
  background-color: #212121;
}
