@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #f2f2f2;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
}

ul {
  list-style: none;
}
