.wrapper {
  width: 25rem;
  height: 30rem;
  border-radius: 2rem;
  /* background-color: rgba(255, 255, 255, 0.123); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotifyPlayer {
  width: 100%;
  height: 400px;
}

.AudioPlayer {
  width: 100%;
}

.AudioPlayer::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid transparent;
  border-top-color: lightgray;
  animation: fillAnimation 2s linear forwards;
}

@keyframes fillAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playButton {
  display: block;
  color: #fff;
  font-size: 3rem;
  margin: 2rem auto;
}

.progress {
  -webkit-appearance: none;
  width: 50%;
  height: 6px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
  border-radius: 1rem;
  cursor: pointer;
  margin: 1rem;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
