.settings {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
}

.icon {
  font-size: 3rem;
  cursor: pointer;
}
.icon:active {
  color: rgb(196, 196, 196);
}

.active {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* settingsMenu section */

.settingsMenu {
  padding-right: 1rem;
  position: absolute;
  min-width: 8rem;
  bottom: 4rem;
  right: -1rem;
  border-right: 2px solid #fff;
  text-align: right;
}

.menuItem {
  margin-bottom: 1rem;
}

.menuButton {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.menuButton:hover {
  color: #f4ca16;
}

.menuButton:focus {
  color: #b7b6a7;
}

.menuButton:focus:after,
.menuButton:hover:after {
  width: 100%;
  left: 0%;
}

.menuButton:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* settingsMenu section end */

/* ToolTip area */

.tooltip {
  display: none;
}
@media (max-width: 786px) {
  .settingsMenu {
    background: linear-gradient(
      to right,
      rgba(33, 33, 33, 0),
      #212121,
      #212121
    );
  }
}
